<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://lh6.ggpht.com/QWtj5Zqr5aL6sitwiZn0Z0n8ljw6ImlL1FHlcpZGMXyX8zTil7Wb8kdYXnBMxFBP149J=w300" type="image/gif" >
    <title>Welcome to my page</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/ideas">Album</a></li>
        <li ><%= link_to 'Add new', new_idea_path %></li>
          <% if user_signed_in? %><% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %> 
        <li>
          <% if user_signed_in? %>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <%= image_tag current_user.gravatar_url width: '10%' %>
                Logged in as <strong><%= current_user.email %></strong>.
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              </ul>
            </div>
          <% end %>          
        </li>
      </ul>
    </nav>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        Rails Girls <%= Time.now.year %>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script> 
  </body>
</html>
